body {
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 margin-left: 0px
}

.overlay_base {
    display: none; /* Start out hidden, we'll dynamically enable it later. */

    /* Full-window container ... */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /* ... floating above everything else ... */
    z-index: 2;

    /* ... with partial transparency,
           to make everything else look greyed out */
    background-color: rgba(0,0,0,0.5);

    /* Flex options for child objects */
    align-items: center;
    justify-content: center;
}

.overlay_base_2 {
    display: none; /* Start out hidden, we'll dynamically enable it later. */

    /* Full-window container ... */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 80%;

    /* ... floating above everything else ... */
    z-index: 2;

    /* ... with partial transparency,
           to make everything else look greyed out */
    background-color: rgba(0,0,0,0.5);

    /* Flex options for child objects */
    align-items: center;
    justify-content: center;
}

.overlay_inner {
    display: flex;
    position: absolute;
    /*Might need to adjust the size to fit all the content*/
    width: 50%;
    height: 30%;
    background-color: rgb(255,255,255); /* Must set the background color here,
				otherwise it inherits from the parent */
    position: relative;

}

/* Not covered in Discussion: force the close button into
              the upper-right corner of it's parent container */
.overlay_button {
    position: absolute;
    top: 0px;
    right: 0px;
}

#header {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;

    background-color: #FFFFFF;
    /* padding: 35px; */
    padding-top: 25px;
    padding-bottom: 25px;
    flex: 0 0 auto; /* Grow don't shrink content */
    font-family: 'Raleway', sans-serif;
}

#items{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    /* padding-top: 50px; */
    /* justify-content: center; */
    /* justify-content: space-evenly; */
    color:#FF595F;
    font-family: 'Raleway', sans-serif;
    font-size: 200%;
    padding-bottom: 2%;
}

#title_items {
    padding-left: 15px;
    padding-right: 15px;
}

#search_items {
    padding-left: 15px;
}

#BC_items{
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    justify-content: left;
    /* padding:2%; */
    /* padding-left: 40px; */
    color:#FF595F;
    /* top:40%; */
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: bold;
    /* padding-top: 30px; */
}

#search{
    background-color: #FF595F; /* Green */
    border: none;
    color: white;
    /* padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px; */
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 15px;
    font-size: 25px;
    font-family: Raleway, sans-serif;
    height: 50px;


}

input[type=text] {
    border: 1px solid red;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    display: inline-block;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Raleway, sans-serif;
    font-weight: light;

}


#tile_region{
    display: flex;
    /*flex-wrap: wrap;*/
    background-color: #EDEDED;
    position: absolute;
    top: 170px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    /* margin: 20px; */
    padding: 4px;
    webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
 /*   flex-wrap: wrap;*/
    height: 600vmin;
}

/*The tiles*/
.flex_container{
    display:flex;
    flex-wrap: wrap;
    /*display: -webkit-flex;
    flex-shrink: 1;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;*/
    justify-content: space-around;
    margin-right: 43px;
    /*position: absolute;*/
    width: 500px;
    height: 370px;
    background-color: white;
}


#border_tile_region{
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
   /* justify-content: space-around;*/
}

#right_arrow{
    display:flex;
    background-color: transparent;
    border: 3px solid #e7e7e7;
    color: white;
    padding: 5px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 70px;
    border-radius: 12px;
    margin-left: 30px;


}
#left_arrow{
    display:flex;
    background-color: transparent;
    border: 3px solid #e7e7e7;
    color: white;
    padding: 5px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 70px;
    border-radius: 12px;
    margin-right: 30px;

}
.class_exit{
    position:absolute; top:0; right:0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    margin: 40px 40px;
}
#exit{
    position:absolute; top:0; right:0;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 50px;
    margin: 40px 40px;
}

#id_overlay_inner {
    display: flex;
    flex-direction: row;
    padding: 35px;
    width: 655px;
    height: 490px;
}

.thumbnail_wrapper {
    display: flex;
    flex-direction: row;
}


.thumbnail_inner_overlay{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 5000%;
   height: 100%;
}
}
.second_container{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   color:black;
   font-family: 'Raleway', sans-serif;

}
.title_inner_overlay{
   display: flex;

   padding: 15px;
   /*padding-top: 2px;*/
   margin-left: 15px;
   font-family: Raleway, sans-serif;
   font-size: x-large;
   font-weight: bolder;

   justify-content: flex-start;



}
.author_inner_overlay{
   display: flex;
   justify-content: center;
   font-weight: light;
   padding: 15px;
   margin-left: 15px;
   font-family: Raleway, sans-serif;
   font-size: x-large;
   flex-direction: column;
   justify-content: flex-start;


}
.description_inner_overlay{

   display: flex;
   flex-direction: row;
   order: 99;
   padding: 12px;
   margin-left: 15px;
   /*justify-content: space-between;*/
   color:black;
   font-family: Raleway, sans-serif;
   font-weight: light;
   justify-content: flex-start;
   flex-direction: column;
   font-size: x-large;
   line-height: 1.5;
}



#keep_div {
    display:block;
    position: absolute;
    top:85%;
}
#keep{
    background-color: #FF595F;
    border: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
    font-family: Raleway, sans-serif;
}


#tile_delete_button{
   /* display: flex;*/
 /*   justify-content: center;*/
    position:absolute; top:0; right:0;
    background-color: transparent;
    border: none;
    padding: none;
    color: black;
    font-size: 20px;
    margin: 10px 10px;


}

.tile_Thumbnail{
width: 200%;
height: 300%


}



#overlay2{
    display: none;
    flex-direction: column;
    justify-content: center;
}
.lines {
    display: flex;
    justify-content: center;
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 280%;
}

.lines2 {
    display: flex;
    justify-content: center;
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 280%;
    font-weight: 800;
}

.search_again_button {
    display: flex;
    justify-content: center;

}

#ok{
    background-color: #FF595F;
    border: none;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 30px;
    font-family: Raleway, sans-serif;
}

#isbn_12, #isbn_13 {
    display: inline;
align-items: center;}


